<<<<<<< HEAD
img{
    width:50%;
    height: 50%;
    padding:10em;
    display:block;
    margin: auto;
=======
img{
    width:50%;
    height: 50%;
    padding:10em;
    display:block;
    margin: auto;
>>>>>>> 3cca8ff80c77a5a8e24ff8e4ed20017f0f618072
}